<p>login works!</p>

<!--<form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
    <div>
        <label for="username">Username</label>
        <input type="text" formControlName="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password">
    </div>
    <button type="submit">Login</button>
</form>-->

<!--<p *ngIf="user">{{user.username}}</p>-->
<h2 *ngIf="user" style="color: red;">User authenticated successfully</h2>


<h3>Create a new user:</h3>
<form [formGroup]="registerForm" (ngSubmit)="registerUser()" >
    
    <div>
        <label for="username">Username</label>
        <input type="text" formControlName="username" placeholder="Choose an username">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" formControlName="email" placeholder="Choose an email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password" placeholder="Choose a password">
    </div>
    <button type="submit" click="registerUser()" >Register User </button>
</form>